
h1 {
    margin-bottom: 24px;
}

/*----CARD-----*/

.card:hover {
    transform: scale(1.05);
}

.card-body * {
    text-decoration: none;
    color: black;
}

.cardCategory {
    color: grey;
}

.cardPrice {
    font-size: 14px;
}

/*----PRODUCT-VIEW----*/

.productImg img {
    width: 100%;
}

.productCategory {
    color: grey;
}

.productPrice {
    font-weight: bold;
}

.productSize ul {
    padding-left: 0;
}

.productSize li {
    display: inline-block;
    width: 32px;
    list-style: none;
    border: 1px solid black;
    text-align: center;
}

/*----FOOTER----*/

footer li {
    list-style: none;
}

footer a {
    color: grey;
}

footer a:hover {
    text-decoration: none;
    color: black;
}
