<footer class="footer bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Produits</a></li>
                    <li><a href="/products/view">Produit aléatoire</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Contact & Connexion</h3>
                <ul>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/sign-in">Connexion</a></li>
                    <li><a href="/sign-up">Inscription</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter</h3>
                <form action="">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm">
                    </div>
                    <button type="submit" class="btn btn-dark btn-sm">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>