{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Sign In</h1>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <form>
                <div class="form-group">
                    <label for="email">Adresse e-mail :</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                </div>
                <button type="submit" class="btn btn-dark">Connexion</button>
                <a href="/sign-up">Pas encore de compte ?</a>
            </form>
        </div>
    </div>

{% endblock %}